@import url('https://fonts.googleapis.com/css?family=Maitree');

:root {
    font-family: 'Maitree';
}

body, html {
    max-width: 1920px;
    margin: auto;
}

nav ul li {
    display: inline;
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav ul li:hover {
    background-color: #636363;
    color: black;
}

nav ul li a {
    color: white;
}

nav {
    background-color: #1e1e1e;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

header {
    background-image: url("../img/stmth.jpg");
    height: 900px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header, article, footer {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}